.fi{
    display: flex;
    flex-direction: row;
    .fi1{
        width: 200px;
        background-color: lightblue;
    }
    .fi2{
        width: 75px;
        background-color: lightpink;
    }
}
.fi2{
    display: flex;
    flex-direction: row;
    .fi21{
        width: 50px;
        background-color: lightblue;
    }
    .fi22{
        flex : 1;
        background-color: lightpink ;
    }
    .fi23{
        width: 75px;
        background-color: lightblue ;
    }
}
.fi3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .fi31{
        background-color: lightblue;
    }
    .fi32{
        background-color: lightpink ;
    }
    .fi33{
        background-color: lightblue ;
    }
    .fi34{
        background-color: lightpink ;
    }
}
.fi4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    height: 50px;
  }
  .lightpink {
    background-color: lightpink;
  }
.message-box{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-radius: 7px;
    .home{
        margin-left: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    .notifications{
        margin-left: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    .messages{
        margin-left: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

    }
    .buttons{
        margin-right: 15px;
        height: 32px;
        border-radius: 15px;
        align-items: center;
        border: none;
        background-color: blue;
        color: white;
        padding-right: 14px;
        padding-left: 14px;
    }
    .buttons1{
        margin-right: 15px;
        height: 32px;
        align-items: center;
        border-radius: 15px;
        border: none;
        background-color: blue;
        color: white;
        padding-right: 12px;
        padding-left: 18px;
    }
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(202, 73, 202);
    align-items: center;
    height: 70px;
    .basha{
        font-weight: bold;
        color: white;
        margin-left: 17px;
    }
    .down{
        font-size: 17px;
        margin-right: 20px;
        width: 120px;
        height: 45px;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        background-color: rgb(202, 73, 202);
        color: white;
        font-weight: bold;
    }
    .khujo{
        width: 700px;
        border: none;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 30px;
        border-radius: 15px;
        padding-left: 25px;
    }
}
.first-cat{
    display: flex;
    flex-direction: row;
    align-items: center;    
    .first-cat-picture{
        width: 52px;
        height: 52px;
        border-radius: 26px;
        object-fit: cover;
    }
    .picture-first-cat{
        margin-left: 10px;
    }
    .description-first-cat{
        margin-left: 18px;
    }
    .first-cat-desc-2, .first-cat-desc-3{
        color: gray;
    }
    .first-cat-desc-1{
        font-weight: bold;
    }
    .first-cat-button{
        margin-left: 300px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: rgb(89, 48, 235);
        border: none;
        border-radius: 8px;
    }
}
.second-cat{
    display: flex;
    flex-direction: row;
    align-items: center;    
    .second-cat-picture{
        width: 52px;
        height: 52px;
        border-radius: 26px;
        object-fit: cover;
    }
    .picture-second-cat{
        margin-left: 10px;
    }
    .description-second-cat{
        margin-left: 18px;
    }
    .second-cat-desc-2, .second-cat-desc-3{
        color: gray;
    }
    .second-cat-desc-1{
        font-weight: bold;
    }
    .second-cat-button{
        margin-left: 302px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: rgb(89, 48, 235);
        border: none;
        border-radius: 8px;
    }
}
.third-cat{
    display: flex;
    flex-direction: row;
    align-items: center;    
    .third-cat-picture{
        width: 52px;
        height: 52px;
        border-radius: 26px;
        object-fit: cover;
    }
    .picture-third-cat{
        margin-left: 10px;
    }
    .description-third-cat{
        margin-left: 18px;
    }
    .third-cat-desc-2, .third-cat-desc-3{
        color: gray;
    }
    .third-cat-desc-1{
        font-weight: bold;
    }
    .third-cat-button{
        margin-left: 255px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: rgb(89, 48, 235);
        border: none;
        border-radius: 8px;
    }
}
