.name{
    height: 25px;
    padding-left: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    width: 170px;
}

.email{
    height: 25px;
    padding-left: 5px;
    width: 170px;
    font-size: 18px;
}

.write{
    width: 250px;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.google{
    width: 200px;
    margin-left: 790px;
    display: block;
    margin-bottom: 20px;
}

.box{
    width: 490px;
    height: 40px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    margin-left: 630px;
    padding-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.first{
    height: 35px;
    padding-left: 10px;
    width: 155px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

.last{
    height: 35px;
    padding-left: 10px;
    width: 155px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

.mail{
    height: 35px;
    padding-left: 10px;
    width: 155px;
    border-radius: 8px;
    border-width: 1px;
    display:block;
    margin-top: 10px;
    width: 330px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

.sign{
    margin-top: 20px;
    border-radius: 5px;
    border-width: 1px;
    width: 345px;
    height: 40px;
    color: white;
    background-color: rgb(65, 65, 221);
}


.request{
    font-weight: bold;
    font-size: 40px;
}

.pickup{
    color: darkgray;
    background-color: rgb(241, 241, 241);
    border-width: 1px;
    width: 250px;
    height: 32px;
    padding-left: 15px;
}

.destination{
    color: darkgray;
    background-color: rgb(241, 241, 241);
    border-width: 1px;
    width: 250px;
    height: 32px;
    padding-left: 15px;
    display: block;
    margin-top: 10px;
}

.now{
    margin-top: 35px;
    color: white;
    background-color: black;
    border-width: 1px;
    height: 40px;
    width: 110px;
    font-weight: bold;
    cursor: pointer;
}

.later{
    margin-left: 35px;
    color: black;
    background-color: rgba(0, 0, 0, 0.24);
    border-width: 1px;
    height: 40px;
    width: 140px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
